<nav style="margin-bottom: 10px;">
  <div style="padding: 0; padding-top: 10px;">
    <div style="display: flex; padding: 0">
      <div class="navcolumn">
        <img src="./images/logo.JPG" alt="PostIt">
      </div>
      <div class="navcolumn">
        <input type="text" style="width:80%"><button>Search</button>
      </div>
      <div class="avatar navcolumn">
        <img src="./images/me.png" alt="Avatar">
      </div>
    </div>
      <div style="width: 100%; display: flex; padding-left: 0; padding-right: 0;">
        <div class="navlink" style="width: 25%"><a href="/">Home </a></div>
        <div class="navlink" style="width: 25%"><a href="/posts">Posts page</a></div>
        <div class="navlink" style="width: 25%"><a href="/contactus">Contact us</a></div>
        <div class="navlink" style="width: 25%"><a href="/addnewpost">New post</a></div>
      </div>
  </div>
</nav>
