<nav>
  <div>
    <img src="images/logo.JPG" alt="PostIt">
    <input type="text"><button>Search</button>
    <div class="avatar">
      <img src="images/me.png" alt="Avatar">
    </div>
    <ul class="links">
      <li><a href="/">Home </a></li>
      <li><a href="/posts">Posts page</a></li>
      <li><a href="/contactus">Contact us</a></li>
      <li><a href="/addnewpost">New post</a></li>
    </ul>
  </div>
</nav>
