<nav>
<<<<<<< HEAD
    <a href="/">Home </a> |
    <a href="/posts">Posts page</a> |
    <a href="/contactus">Contact us</a>|
    <a href="/addnewpost">New post</a>
</nav>
=======
  <div>
    <img src="images/logo.JPG" alt="PostIt">
    <input type="text"><button>Search</button>
    <a href="/">Home </a> |
    <a href="/posts">Posts page</a> |
    <a href="/contactus">Contact us</a>|
    <a href="/create">New post</a>
  </div>
</nav>
>>>>>>> 3c38a32966386b27e379013f172be88144dd92a3
