<nav>
  <div>
    <div style="display: flex; padding: 0">
      <div class="navcolumn">
        <img src="./images/logo.JPG" alt="PostIt">
      </div>
      <div class="navcolumn">
        <input type="text"><button>Search</button>
      </div>
      <div class="avatar navcolumn">
        <img src="./images/me.png" alt="Avatar">
      </div>
    </div>
      <div class="navlinks">
        <div class="navlink"><a href="/">Home </a></div>
        <div class="navlink"><a href="/posts">Posts page</a></div>
        <div class="navlink"><a href="/contactus">Contact us</a></div>
        <div class="navlink"><a href="/addnewpost">New post</a></div>
      </div>
  </div>
</nav>
