<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=>, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="css/style.css" />

<title> Create a post</title>
<!-- millegipärast ei pushi lisatud infot DBsse ülesse-->
<body>
      <%- include('../partials/navbar.ejs') %>
      <div class="flex-container">

        <div class="create-post">
          <h1>Create a post</h1>

            <form action="/posts" method="POST">
                <label for="name">Name: </label>
                <input type="text" id="name" name="name" required><br><br>
                <label for="icon">Icon: </label>
                <input type="text" id="icon" name="icon"><br><br>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required><br><br>
                <label for="body">Text:</label>
                <input type="text" id="body" name="body" required><br><br>
                <label for="urllink">Picture:</label>
                <input type="text" id="urllink" name="urllink"></textarea><br>
                <!--
                <label style="display: none" for="Likes">Likes</label>
                <input style="display: none" type="text" id="Likes" name="Likes" value="0"></textarea><br>
                -->
                <button style="margin-top: 5px">Submit</button>
            </form>
        </div>
      </div>
        <%- include('../partials/footer.ejs') %>
</body>

</html>
