<html lang="en">

<link rel="stylesheet" type="text/css" href="css/style.css" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="flex-container">

    <div>
      <h1 style="text-align: center;">Contact Info</h1>
      <p>Team name: BF</p>
      <p>Team members: <br><br>
        1) Karl-Martin Voovere<br><br>
        2) Irene Russak<br><br>
        3) Ragnar Kadai
      </p>
    </div>
  </div>
    <%- include('../partials/footer.ejs') %>

</body>

</html>
