<html lang="en">

<<<<<<< HEAD
=======
<link rel="stylesheet" type="text/css" href="css/style.css" />

>>>>>>> 3c38a32966386b27e379013f172be88144dd92a3
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../res/css/style.css">
</head>

<body>
<<<<<<< HEAD
    <nav>
        <a href="/">Home </a> |
        <a href="/posts">Posts page</a> |
        <a href="/contactus">Contact us</a>
    </nav>

    <footer class="footer">
        <p>© WAD 2021 </p>
    </footer>
</body>

</html>
=======
      <%- include('../partials/navbar.ejs') %>
      <div>Welcome home</div>
      <%- include('../partials/footer.ejs') %>

</body>

</html>
>>>>>>> 3c38a32966386b27e379013f172be88144dd92a3
